:root {
    --fonte-primaria: 'Ibarra Real Nova', serif;
    --fonte-secundaria: 'Public Sans', sans-serif;
}

.portfolio {
    margin: 20px 130px;
    display: flex;
    gap: 250px;
}

.portfolio img {
    height: 600px;
    width: 600px;
}

.portfolio-texto {
    border-top: 1px solid #EAEAEB;
    border-bottom: 1px solid #EAEAEB;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;

}

.portfolio-texto h2 {
    font-family: var(--fonte-primaria);
    color: #33323D;
    font-size: 40px;
}

.portfolio-texto p {
    font-family: var(--fonte-secundaria);
    color: #33323D;
    line-height: 2;
}

.portfolio-texto a {
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    font-size: 12px;
    color: #33323D;
    border: 1px solid #33323D;
    padding: 10px 15px;
}

.portfolio-texto a:hover {
    background-color: #33323D;
    color: #FAFAFA;
}